/* .wiki-links {
    position: relative;
    width: 100%;
    padding-top: 80px;
    perspective: 1000px;
    overflow: hidden;
}

.wiki-links-images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.mod {
    position: absolute;
    transition: all 0.3s ease-in-out;
    transform-origin: center center;
    z-index: 0;
    opacity: 0; 
}

.mod img {
    height: 300px;
    transition: transform 0.6s ease;
    margin-top: 20px;
} */

/* .bo { transform: translateX(-350px) translateZ(-350px) scale(0.7); opacity: 0.4; z-index: 0; }

.bo img {height: 50px;}

.ba { transform: translateX(-200px) translateZ(-200px) scale(0.85); opacity: 0.7; z-index: 1; }

.ba img {height: 100px;}

.bd { transform: translateX(0px) translateZ(0px) scale(1); opacity: 1; z-index: 2; }

.bd img {height: 150px;}

.bc { transform: translateX(200px) translateZ(-200px) scale(0.85); opacity: 0.7; z-index: 1; }

.bc img {height: 100px;}

.bz { transform: translateX(350px) translateZ(-350px) scale(0.7); opacity: 0.4; z-index: 0; }

.bz img {height: 50px;}

.bn { transform: translateX(0px) translateZ(-300px) scale(0.5); opacity: 0; z-index: 0; }

.bn img {height: 50px;} */

/* responsive */
/* @media screen and (max-width: 600px) {
    .warning {
        font-size: 13px;
    }

    .nav a img {
        height: 25px;
    }

    .logo img {
        height: 100px;
    }
    .content_description {
        font-size: 15px;
    }

    .main {
        max-width: 90%;
    }

    .bo { transform: translateX(-230px) translateZ(-350px) scale(0.7); opacity: 0.4; z-index: 0; }

    .bo img {height: 50px;}

    .ba { transform: translateX(-130px) translateZ(-200px) scale(0.85); opacity: 0.7; z-index: 1; }

    .ba img {height: 80px;}

    .bd { transform: translateX(0px) translateZ(0px) scale(1); opacity: 1; z-index: 2; }

    .bd img {height: 100px;}

    .bc { transform: translateX(130px) translateZ(-200px) scale(0.85); opacity: 0.7; z-index: 1; }

    .bc img {height: 80px;}

    .bz { transform: translateX(230px) translateZ(-350px) scale(0.7); opacity: 0.4; z-index: 0; }

    .bz img {height: 50px;}

    .bn { transform: translateX(0px) translateZ(-300px) scale(0.5); opacity: 0; z-index: 0; }

    .bn img {height: 50px;}
} */