::-webkit-scrollbar {
    width: 13px;
}
::-webkit-scrollbar-track {
    background: rgba(75, 75, 75, 0.1);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(25, 25, 25);
    border: 2px solid transparent;
    background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
    border: 2px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-button:decrement {
    cursor: pointer;
    background-size: 20px;
    height: 15px;
    border: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="%23ffffff" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-up-icon lucide-chevron-up"><path d="m18 15-6-6-6 6"/></svg>') no-repeat center;
}

::-webkit-scrollbar-button:increment {
    cursor: pointer;
    background-size: 20px;
    height: 15px;
    border: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="%23ffffff" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg>') no-repeat center;
}

/* .main .items h3, .main .dimensions h3, .main .bosses h3, .main .tips h3 {
    margin: 0 0 0 -15px;
    padding: 5px 0 5px 15px;
    background-color: rgb(51 51 51);
} */

.main .items ul, .main .dimensions ul, .main .bosses ul, .main .tips ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style-type: none;
    margin: 0;
    padding: 10px;
    gap: 0 20px;
    font-size: 15px;
}

.main .bosses ul {
    grid-template-columns: repeat(4, auto);
}

.main .dimensions ul {
    grid-template-columns: repeat(2, auto);
}

.drop {
    margin: 5px 0 5px 0;
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    width: calc(100% - 15px);
    text-align: center;
    padding: 8px;
    cursor: pointer;
    transition: 0.5s;
}

.drop:hover {
    background-color: rgb(137, 137, 137);
}

.drop-content {
    display: none !important;
}

.active {
    display: grid !important;
}

.drop-content li {
    padding: 3px 0;
}

.content li {
    margin-bottom: 5px;
}

.content li span:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*Bottom*/
.edit {
    background-color: rgb(95 92 92);
    box-shadow: 0 0 20px rgba(163 163 163 0.5);
    border-radius: 10px;
    margin: 10px auto 30px auto;
    padding: 15px;
    width: 97%;
    color: rgb(240 255 255);
    box-sizing: border-box;
}

.edit p a {
    color: rgb(240 255 255);
}

.edit .others {
    background-color: rgb(95 92 92);
    border-radius: 10px;
    color: rgb(240 255 255);
}

.edit .others h3 {
    margin: 0 0 15px -15px;
    padding: 5px 0 5px 15px;
    width: calc(100% + 15px);
    background-color: rgb(51 51 51);
}

.edit .others .pack {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.edit .others .pack a {
    flex: 1 1 18%;
    display: flex;
    justify-content: center;
}

.edit .others .pack img {
    width: auto;
    height: 80px;
    margin-bottom: 30px;
    transition: 0.8s;
}

.edit .others .pack img:hover {
    transform: scale(1.1)
}

.edit .more {
    text-align: center;
    margin: 0;
    padding: 0;
}

.edit .more h3, p {
    margin: 0;
}

.edit .more .join {
    margin: 0;
    display: flex;
    justify-content: center;
}

.edit .more .join img{
    width: auto;
    height: 20px;
    padding-left: 10px;
    transition: 1s;
}

.edit .more .join img:hover {
    transform: scale(1.2);
}