@import "tailwindcss";

@theme {
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}

@layer base {
    body {  
        @apply font-sans text-white text-[15px] m-0 bg-zinc-700 ;
    }
    .hub-page {
        @apply bg-repeat bg-blend-multiply bg-[url('/Images/background.png')] bg-size-[50px] select-none;
    }
    .bd-page, .add-tip-page, .view-tip-page {
        @apply bg-fixed bg-[url('/Images/Beyond_Depth_Background.png')] bg-cover;
    }
}

/* Login and Register Background */
@layer utilities {
    .bg-1 {background-image: url('/Images/Beyond_Depth_Background.png');}
    .bg-2 {background-image: url('/Images/Beyond_Ascension_Background.png');}
    .bg-3 {background-image: url('/Images/Beyond_Cosmo_Background.png');}
    .bg-4 {background-image: url('/Images/Beyond_Ocean_Background.png');}
    .bg-5 {background-image: url('/Images/Beyond_NightFall_Background.png');}
    .bg-6 {background-image: url('/Images/Beyond_Zombie_Background.png');}
}

/* Navbar */
@layer components {
    .nav {
        @apply fixed top-0 left-0 w-full h-[50px] p-5 z-50 flex justify-start items-center bg-neutral-800 select-none;
    }
    .nav img {
        @apply h-[30px];
    }
    .nav .logo_click {
        @apply transition-transform duration-300 hover:scale-120 active:scale-120;
    }
    .nav .icons {
        @apply ml-auto flex gap-5 align-middle;
    }
    /* User */
    .nav .icons .user {
        @apply flex items-center text-white text-[10px] cursor-pointer transition-transform duration-300 hover:scale-120 active:scale-120;
    }
    .nav .icons .user p {
        @apply mr-1;
    }
    /* User Dropdown */
    .nav .icons .dropdown {
        @apply hidden absolute top-[50px] bg-neutral-700 shadow-[0_0_8px_rgba(163,163,163,0.5)] rounded-md p-1 w-[200px] end-5 whitespace-normal;
    }
    .nav .icons .dropdown a {
        @apply m-0 text-white text-[15px] no-underline flex justify-center hover:bg-neutral-600 rounded-md;
    }
}

/* Register Page */
@layer components {
    .register-page .register-container {
        @apply max-w-[500px] mx-auto p-5 bg-[rgba(117,117,117,0.5)] shadow-[0_0_20px_rgb(163,163,163)] rounded-[10px];
    }
    .register-page .register-title {
        @apply text-center text-[20px] font-bold mb-5;
    }
    .register-page .register-form {
        @apply flex flex-col gap-2.5;
    }
    .register-page .register-form label {
        @apply text-[15px];
    }
    .register-page .register-form input {
        @apply bg-neutral-800 border border-neutral-600 rounded-md p-2.5;
    }
    .register-page .register-form .register-submit {
        @apply bg-neutral-800 border border-neutral-600 rounded-md w-[30%] p-2.5 mx-auto mt-2.5 cursor-pointer hover:bg-neutral-600;
    }
    .register-page .register-form .register-back {
        @apply text-white no-underline hover:underline flex justify-center;
    }
}

/* Login Page */
@layer components {
    .login-page .login-container {
        @apply max-w-[500px] mx-auto p-5 bg-[rgba(117,117,117,0.5)] shadow-[0_0_20px_rgb(163,163,163)] rounded-[10px];
    }
    .login-page .login-title {
        @apply text-center text-[20px] font-bold mb-2.5;
    }
    .login-page .login-form {
        @apply flex flex-col gap-2.5;
    }
    .login-page .login-form label {
        @apply text-[15px];
    }
    .login-page .login-form input {
        @apply bg-neutral-800 border border-neutral-600 rounded-md p-2.5;
    }
    .login-page .login-form .login-submit {
        @apply bg-neutral-800 border border-neutral-600 rounded-md w-[30%] p-2.5 mx-auto mt-2.5 cursor-pointer hover:bg-neutral-600;
    }
    .login-page .login-form .login-others {
        @apply flex flex-row justify-center items-center gap-2.5 mt-2.5 mb-2.5;
    }
    .login-page .login-form .login-others .login-google {
        @apply bg-white rounded-md w-[25%] p-1 mr-5 text-center text-black no-underline hover:bg-white/80;
    }
    .login-page .login-form .login-others .login-discord {
        @apply bg-blue-700 rounded-md w-[25%] p-1 text-center text-white no-underline hover:bg-blue-700/80;
    }
    .login-page .login-form .login-register {
        @apply text-white no-underline hover:underline flex justify-center;
    }
}

/* Hub Page */
@layer components {
    /* Warning CSS */
    .hub-page .warning {
        @apply text-[20px] font-bold bg-red-600 text-center mb-5;
    }

    /* Logo CSS */
    .hub-page .logo {
        @apply flex justify-center items-center w-full mt-5;
    }
    .hub-page .logo img {
        @apply block mx-auto h-[150px];
    }

    /* Main CSS */
    .hub-page .main {
        @apply bg-[rgba(117,117,117,0.5)] shadow-[0_0_20px_rgb(163,163,163)] rounded-[10px] mx-auto mt-[30px] mb-[30px] max-w-[95%] pt-2.5 text-center;
    }
    .hub-page .content_description {
        @apply text-[15px] w-[85%] mx-auto;
    }
    .hub-page .link {
        @apply flex mt-5 flex-row place-content-around;
    }
    .hub-page .link img {
        @apply transition-transform duration-300 hover:scale-120 active:scale-120;
    }
    .hub-page .join {
        @apply lg:flex gap-[200px] xl:gap-[300px];
    }
    .hub-page .join img {
        @apply h-[25px];
    }
    .hub-page .join a {
        @apply flex justify-around;
    }
    .hub-page .official {
        @apply flex justify-center items-center gap-0.5;
    }
    .hub-page .cflink {
        @apply flex flex-row items-center gap-2.5;
    }
    .hub-page .cflink img {
        @apply h-[30px];
    }
    .hub-page .carousel-buttons {
        @apply flex justify-center gap-6 z-5 mt-[130px] pb-5;
    }
    .hub-page .carousel-buttons button{
        @apply flex justify-center gap-6 px-4 py-2 rounded-xl transition bg-[rgb(60,60,60)] hover:bg-[rgb(39,39,39)] active:bg-[rgb(39,39,39)];
    }
}

/* BD Page */
@layer components{

    /* Warning CSS*/
    .bd-page .warning {
        @apply text-[20px] font-bold bg-red-600 text-center mb-5;
    }

    /* Logo CSS */
    .bd-page .logo {
        @apply flex justify-center items-center w-full mt-5;
    }
    .bd-page .logo img {
        @apply block mx-auto h-[150px];
    }

    /* Main CSS */
    .bd-page .main {
        @apply bg-[rgba(117,117,117,0.5)] shadow-[0_0_20px_rgb(163,163,163)] rounded-[10px] mx-auto mt-[30px] mb-0 p-[15px] max-w-[95%] box-border;
    }

    /* What is Beyond Depth */
    .bd-page .main .what {
        @apply text-center mb-5;
    }
    .bd-page .main .what .sector-title {
        @apply bg-[rgba(160,160,160,0.5)] w-full p-[5px_0_5px_15px] rounded-[5px] text-[18px];
    }

    /* Serverpack CSS */
    .bd-page .main .serverpack {
        @apply text-center mb-0;
    }
    .bd-page .main .serverpack .sector-title {
        @apply bg-[rgba(160,160,160,0.5)] w-[30%] mx-auto rounded-[5px] text-[18px];
    }
    .bd-page .main .serverpack a {
        @apply underline cursor-pointer hover:text-[rgb(200,200,200)];
    }

    /* Categories CSS*/
    .bd-page .categories {
        @apply grid grid-cols-2 gap-2.5 box-border max-w-[95%] mx-auto mt-2.5;
    }
    .bd-page .categories :is(.items, .bosses) {
    @apply bg-[rgba(117,117,117,0.5)] shadow-[0_0_10px_rgb(163,163,163)] rounded-[10px] mt-2.5 mr-2.5 mb-0 p-[15px] box-border;
    }
    .bd-page .categories :is(.dimensions, .tips) {
        @apply bg-[rgba(117,117,117,0.5)] shadow-[0_0_10px_rgb(163,163,163)] rounded-[10px] mt-2.5 mb-0 p-[15px] box-border;
    }
    .bd-page .categories :is(.items, .dimensions, .bosses, .tips) .sector-title {
        @apply bg-[rgba(160,160,160,0.5)] pl-2.5 rounded-t-[10px] text-[18px];
    }
    .bd-page .categories :is(.items, .dimensions, .bosses, .tips) ul {
        @apply grid grid-cols-5 p-[0_10px_10px_10px] gap-[0_20px];
    }
    .bd-page .categories .bosses ul {
        @apply grid-cols-4;
    }
    .bd-page .categories .dimensions ul {
        @apply grid-cols-3;
    }
    .bd-page .categories :is(.items, .dimensions, .bosses, .tips) a {
        @apply hover:underline cursor-pointer;
    }

    /* Tips CSS */
    .bd-page .categories .tips .sector-title {
        @apply flex justify-between items-center;
    }
    .bd-page .categories .tips .add-tip button {
        @apply mr-2.5 cursor-pointer hover:underline text-[15px];
    }

    /* Dropdown CSS (For Bosses) */
    .bd-page :is(.mini, .early, .mid, .late) .drop {
        @apply bg-[rgba(160,160,160,0.5)] text-white text-center w-[calc(100%-20px)] p-[5px] m-[3px_0_5px_10px] rounded-[5px] cursor-pointer hover:bg-[rgba(160,160,160,0.8)]; 
    }
    .bd-page .mini {
        @apply mt-[5px];
    }
    .bd-page .late {
        @apply mb-[5px];
    }
    .bd-page .drop-content {
        @apply hidden!;
    }
    .bd-page .active {
        @apply grid!;
    }
    .bd-page .drop-content li {
        @apply p-[3px_0];
    }
    .bd-page .content li {
        @apply mb-[5px];
    }
    .bd-page .content li span {
        @apply hover:underline cursor-pointer;
    }

    /* Bottom CSS*/
    .bd-page .extra {
        @apply bg-[rgba(117,117,117,0.5)] shadow-[0_0_20px_rgb(163,163,163)] rounded-[10px] mx-auto mt-5 mb-[30px] p-[15px] max-w-[95%] box-border;
    }
    .bd-page .extra .sector-title {
        @apply bg-[rgba(160,160,160,0.5)] flex justify-center w-full p-[5px_0_5px_15px] rounded-[5px] text-[18px];
    }
    .bd-page .extra .others .pack {
        @apply flex flex-wrap;
    }
    .bd-page .extra .others .pack a{
        @apply flex-[1_1_18%] flex justify-center;
    }
    .bd-page .extra .others .pack img {
        @apply w-auto h-20 mb-5 transition-[0.8s] hover:scale-[1.1];
    }
    .bd-page .extra .more {
        @apply text-center;
    }
    .bd-page .extra .more .join {
        @apply flex justify-center gap-0 ;
    }
    .bd-page .extra .more .join img {
        @apply w-auto h-5 pl-2.5 transition-[1s] hover:scale-[1.2];
    }
}

/* Add Tip Page */
@layer components {
    .add-tip-page .title {
        @apply bg-[rgba(160,160,160,0.5)] w-[95%] mx-auto rounded-[10px] text-center text-[40px];
    }
    .add-tip-page form {
        @apply bg-[rgba(117,117,117,0.5)] shadow-[0_0_20px_rgb(163,163,163)] rounded-[10px] mx-auto mt-[30px] mb-[30px] p-[15px] max-w-[95%] box-border text-white;
    }
    .add-tip-page form .input-value {
        @apply flex flex-col justify-center mb-5;
    }
    .add-tip-page form .input-title {
        @apply flex justify-center text-[20px] font-bold mb-0;
    }
    .add-tip-page form :is(input[type="text"], textarea) {
        @apply bg-[rgba(120,120,120,0.5)] mx-auto border border-gray-300 p-2.5 rounded-md;
    }
    .add-tip-page form .author-input {
        @apply w-[30%] text-center;
    }
    .add-tip-page form .title-input {
        @apply w-[50%] text-center;
    }
    .add-tip-page form .content-input {
        @apply w-[80%];
    }
    .add-tip-page form .submit-button {
        @apply flex flex-col items-center;
    }
    .add-tip-page form .submit {
        @apply bg-[rgb(30,30,30)] font-bold py-2.5 px-5 mb-2.5 rounded-[10px] cursor-pointer hover:bg-[rgb(60,60,60)];
    }
    .add-tip-page form .back {
        @apply text-white no-underline hover:underline;
    }
}

/* View Tip Page */
@layer components {
    .view-tip-page .tip-details {
        @apply w-[75%] mx-auto mb-2.5 pb-2.5 text-center;
    }
    .view-tip-page .tip-details .tip-title {
        @apply bg-[rgba(160,160,160,0.5)] shadow-[0_0_20px_rgb(163,163,163)] mx-auto w-fit mt-5 mb-2.5 px-5 text-[40px] rounded-[5px];
    }
    .view-tip-page .tip-details .tip-who {
        @apply mb-2.5;
    }
    .view-tip-page .tip-details .tip-content {
        @apply w-[90%] mx-auto bg-[rgba(117,117,117,0.5)] p-2.5 rounded-[10px];
    }
    .view-tip-page .tip-more{
        @apply flex-col justify-center mt-5;
    }
    .view-tip-page .back {
        @apply text-white no-underline hover:underline mb-2.5 flex w-fit;
    }
    .view-tip-page .add {
        @apply text-white no-underline hover:underline flex w-fit;
    }
}